{% extends "base.html" %}
{% load static %}

{% block title %}Home - Sherpa Tribe{% endblock title %}

{% block home-css %}
	<link rel="stylesheet" href={% static "css/home.css" %}>
{% endblock home-css %}

{% block content %}
	<p class="welcome-msg">
		Welcome to Sherpa Task Management project, you can register here!
	</p>
	<div class="button-group">
		<a href="{% url 'auth_jwt_html:register' %}">
			<button class="button" type="button">Register</button>
		</a>
		<a href="{% url 'auth_jwt_html:login' %}">
			<button class="button" type="button">Login</button>
		</a>
	</div>
{% endblock content %}