{% extends "base.html" %}
{% load static %}

{% block title %}Register - Sherpa Tribe{% endblock title %}

{% block form-css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock form-css %}

{% block content %}
	<div class="form-container">
		<h2>Register</h2>
		<form method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" required value="{{ form_data.username|default:'' }}">
			</div>
			<div class="form-group">
				<label for="nickname">Nickname:</label>
				<input type="text" name="nickname" id="nickname" required value="{{ form_data.nickname|default:'' }}">
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" required value="{{ form_data.email|default:'' }}">
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" required>
			</div>
			<div class="form-group">
				<label for="confirm-password">Confirm Password:</label>
				<input type="password" name="confirm-password" id="confirm-password" required>
			</div>
			<div class="button-row">
				<a href="{% url 'home' %}" class="register-button">Back</a>
				<button  class="register-button", type="submit">Confirm</button>
			</div>
		</form>
		{% if error %}
			<div class="error">{{ error }}</div>
		{% endif %}
	</div>
{% endblock content %}
