/* Title form */
h2 {
	margin: 0 0 1rem 0;
	color: bisque;
	font-weight: bold;
	text-align: center;
}

/* General form container */
.form-container {
	background: #777771;
	color: bisque;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem auto;
	width: fit-content;
}

/* Inner form container */
.form-container form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Group fields */
.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
}

/* Title fields */
.form-group label {
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

/* Input fields */
.form-group input {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px #ccc;
	font-size: 1rem;
	background: #f8f8f8;
	color: #3e4d57;
	outline: none;
}

/* Focus when typing in field */
.form-group input:focus {
	border-color: #5e5846;
	border-width: 0.1rem;
	border-style: inset;
}

/* Two buttons to go back and confirm register */
.button-row {
	display:flex;
	gap: 0.5rem;
	justify-content: center;
	margin-top: 1rem;
}

.button-row a {
	text-decoration: none;
}

.register-button {
	margin-top: 0.5rem;
	padding: 0.7rem 1.5rem;
	border: none;
	border-radius: 0.5rem;
	background: #bfa76f;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.5s;
}

.register-button:hover {
	background: #a68c4a;
}
